## **Theoretical Questions**

### **1. What are data structures, and why are they important?**

**Answer**:

Data structures are ways to store and organize data so that we can use it easily. They are important because they help us manage and process data efficiently, especially when we deal with large amounts of it.

### **2. Explain the difference between mutable and immutable data types with examples.**

**Answer**:
* **Mutable**  means changeable. You can change the data after creating it.
  Example: list, dict

  # my_list = [1, 2, 3]
  # my_list.append(4)  
  # This changes the list

* **Immutable** means you cannot change the data once it is created.
Example: str, tuple

  # my_str = "hello"
  # You can't do my_str[0] = 'H' - this will give an error

### **3. What are the main differences between lists and tuples in Python?**

**Answer**:
* Lists can be changed (mutable), but tuples cannot (immutable).

* Lists use more memory; tuples are faster and use less memory.

* Lists have more features like append, remove, etc.

### **4. Describe how dictionaries store data.**

**Answer**:

Dictionaries store data in **key-value pairs**. Each key is unique, and you use it to find its value.
Example:

#person = {"name": "John", "age": 25}

### **5. Why might you use a set instead of a list in Python?**

**Answer**:

 Use a set when:

* You do not want duplicate values.

* You want to check if something exists quickly.

### **6. What is a string in Python, and how is it different from a list?**

**Answer**:

A string is a series of characters (like words or sentences).
A list can have anything (numbers, strings, etc.) and can be changed, but strings cannot be changed after creation.

### **7. How do tuples ensure data integrity in Python?**

**Answer**:

Tuples can’t be changed after you create them. So they keep the data safe from accidental changes.

### **8. What is a hash table, and how does it relate to dictionaries in Python?**

**Answer**:

A hash table is a way of storing data using keys. Python dictionaries are built using hash tables, so you can find things fast by using a key.

### **9. Can lists contain different data types in Python?**

**Answerr**:

Yes! A list can have numbers, strings, even other lists.
Example:
#[1, "hello", 3.14]

### **10. Explain why strings are immutable in Python.**

**Answer**:

Strings are made unchangeable (immutable) for safety and performance. This also allows them to be used as keys in dictionaries.

### **11. What advantages do dictionaries offer over lists for certain tasks?**

**Answer**:

Dictionaries let you look up data by name (key), not just position. This is faster and easier when dealing with labeled data.

### **12. Describe a scenario where using a tuple would be preferable over a list.**

**Answer**:

Use a tuple when the data should not change.
Example: storing coordinates (x, y) or days of the week.

### **13. How do sets handle duplicate values in Python?**

**Answer**:

Sets automatically remove duplicates.
Example: Set ([1, 2, 2, 3]) becomes {1, 2, 3}

### **14. How does the “in” keyword work differently for lists and dictionaries?**

**Answer**:

* In lists: checks if a value exists.

* In dictionaries: checks if a key exists.

### **15. Can you modify the elements of a tuple? Explain why or why not.**

**Answer**:

No, tuples cannot be changed. They are **immutable**.

### **16. What is a nested dictionary, and give an example of its use case.**

**Answer**:

A dictionary inside another dictionary.
Example:

In [4]:
student = {
  "name": "happy",
  "grades": {"math": 90, "science": 95}
}

### **17. Describe the time complexity of accessing elements in a dictionary.**

**Answer**:

It is O(1), which means very fast, because of the way hash tables work.

### **18. In what situations are lists preferred over dictionaries?**

**Answer**:

Use lists when:

* You only care about the order of items.

* You don’t need key-value pairs.

### **19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Answer**:

Before Python 3.7, dictionaries didn’t keep the order of items. Now they do, but we still access items by key, not position.

### **20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Answer**:
* Lists use indexes (numbers) to get items.

* Dictionaries use keys (names or labels).

## **Practical Questions**

### **1. Write a code to create a string with your name and print it.**

In [1]:
name = "harshit"
print(name)

harshit

### **2. Write a code to find the length of the string "Hello World".**

In [ ]:
text = "Hello World"
print(len(text))

11

### **3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

### **4. Write a code to convert the string "hello" to uppercase.**

In [ ]:
text = "hello"
print(text.upper())

HELLO

### **5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

### **6. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

### **7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

### **8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

### **9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

### **10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

### **11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

### **12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

### **13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

### **14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

### **15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

### **16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

### **17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

### **18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

### **19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

### **20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

### **21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [3]:
person = {"name": "Ayush", "age": 22, "city": "haldwani"}
print(person)

{'name': 'Ayush', 'age': 22, 'city': 'haldwani'}

### **22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

### **23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

### **24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

### **25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

### **26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

### **27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [ ]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[45, 46, 71, 80, 81]

### **28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
words = ["apple", "banana", "orange", "date", "fig"]
print(words[3])

date

### **29. Write a code to combine two dictionaries into one and print the result.**

In [ ]:
dict1 = {"a": 1}
dict2 = {"b": 2}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2}

### **30. Write a code to convert a list of strings into a set.**

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]
unique_fruits = set(fruits)
print(unique_fruits)

{'orange', 'banana', 'apple'}